<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.asterinet.react.bgactions">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_TYPE_DATA_SYNC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application>
        <service android:name=".RNBackgroundActionsTask" android:foregroundServiceType="dataSync|shortService"/>
    </application>
</manifest>
